body {
    background-image:-webkit-radial-gradient(yellow,orange,hotpink,deeppink,darkorchid,purple,blue,aqua,lime, green,yellow,orange,hotpink,deeppink,darkorchid,purple,blue,aqua,lime,green);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-attachment: fixed;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.title{
    text-align: center;
    font-size: 50px;
    background: linear-gradient(to right, lime,aqua,hotpink,orange,yellow);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: black;
}

img{
    border-radius: 10px;
    border-style: ridge;
    border-width: 10px;
}

.cheese {
    text-align: center;
    font-size: 25px;
    background-color:yellow;
    color:darkorange;
}

.container {
    border-style: ridge;
    border-radius: 10px;
    border-width: 10px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
}

.subtitle {
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

.text {
    margin-left: 50px;
    margin-right: 50px;
}

footer h1 {
    background-color:darkblue;
    color:cyan;
    font-size: 25px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

